# Auto detect text files and perform LF normalization
* text=auto


#tha unreal binaries
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text

#likely asset types we might get from DMA student team
#3d obj stuff
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
#images + textures
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
#audo
*.wav    filter=lfs diff=lfs merge=lfs -text
*.mp3    filter=lfs diff=lfs merge=lfs -text
#video (maybe for in-game tut example vids or something)
*.mp4    filter=lfs diff=lfs merge=lfs -text